@media (max-width: 1 440px){
    .container{
        max-width: 1370px;
    }
}
@media (max-width: 1170px){
    .container{
        max-width: 1024px;
    }
    h1{
        font-size: 42px;
    }
}
@media (max-width: 1024px){
    .container{
        max-width: 960px;
    }
    h1{
        font-size: 42px;
    }
    .col-3{
        width: 33.3333%;
        margin-bottom: 10px;
    }
}

@media (max-width: 980px){
    .container{
        max-width: 768px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 680px;
    } 
}

@media (max-width: 490px){
    .container{
        max-width: 320px;
    }
    h1{
        font-size: 28px;
    }
    .col-3{
        width: 100%;
        margin-bottom: 10px;
    } 
}
@media (max-width: 320px){
    .container{
        max-width: 300px;
    }
    h1{
        font-size: 28px;
    }
    .col-3{
        width: 100%;
        margin-bottom: 10px;
    } 
}



